---
layout: page
title: Naturerlebnisse
id: naturerlebnisse
content-pages: true
nav: true
nav-order: 2

banner:
  title: Naturerlebnisse
  title-sub: Wild, weit und unberührt
  bg-pos: "background-position: 90% center;"
  opacity: "opacity: .8;"
  padding: "padding:8px;"

intro: "Das finnische Selbstverständnis ist fest mit Natur verbunden. Unterwegs in den zahllosen Wäldern, Seen und Fjells (Bergen) kommen Sie dem nationalen Selbstverständnis auf die Spur, mit etwas Glück auch einem Bären oder Adler. Finden Sie heraus, welche Nationalparks Sie nicht verpassen sollten, ob Glasiglus etwas für Sie sind und welche weiteren Wunder Sie erwarten."


map:

  - id: one
    title: Nationalparks und Wälder
    description: "Schärenmeer, Seen, Sümpfe, Fjells - Finnlands 40 Nationalparks decken eine große Bandbreite ab. Dank des Jedermannsrechtes und der gut ausgebauten Infrastruktur mit Pfaden, Informationstafeln, Zeltplätzen und Miethütten kann jeder leicht in den Genuss der Nationalparks kommen. Sie wollen tagelang nichts als Natur um sich haben? Der Urho-Kekkonen-Nationalpark in der arktischen Wildnis reiht 200 km sichere Pfade aneinander. Sie suchen eher nach einem kurzen Ausflug? Nuuksio ist von Helsinki leicht zu erreichen - nehmen Sie Ihr Zelt mit."

  - id: two
    title: Skigebiete
    description: "Rund 75 Wintersportorte sind eine Menge für ein Land, das sich nicht durch seine Gebirge auszeichnet. Dafür hat Finnland fast durchgängig eine Schneegarantie in der Wintersaison, die teils schon im Oktober beginnt. Das Skifahren ist fester Teil der finnischen Kultur und Abenteuerlustige können sich auf Alpinski spezialisieren. Abseits von Pisten bietet Finnisch-Lappland sehr viel Auslauf."

  - id: three
    title: Wilde Tiere beobachten
    description: "Dort, wo sich Fuchs und Hase Gute Nacht sagen, in Finnland, haben Sie immer wieder die Chance, wilde Tiere und Vögel zu sichten. Darunter sind endemische Arten, wie die Saimaa-Ringelrobbe, aber auch klassisch europäische Waldbewohner, wie Wolf und Luchs, beide menschenscheu und selten anzutreffen. Wenn Sie in den Norden des Landes vordringen, dürfen Sie auf Hermeline gespannt sein, die sich dank ihres weißen Winterfells bestens im Schnee tarnen können und auf Bartkäuze, aktische Eulen mit erstauntem Gesichtsausdruck."




sections:

  - title: Eisangeln
    id: one
    description: >
      <p class="text--lg">Eisangeln ist die finnische Art der Meditation. Sie brauchen dazu bloß einen zugefrorenen See oder ein zugefrorenes Meer (min. 5 cm Eis) und Geduld. Nachdem das Loch gebohrt ist, benötigen Sie neben Zeit auch etwas Glück und Erfahrung. Es ist wichtig zu wissen, welchen Platz man zum Angeln auswählt und wie sich die Fische verhalten, um einen fangen zu können. Da die Gewässer Finnlands sehr sauber sind, können Sie sogar an Städten wie Helsinki angeln - bringen Sie nur genug warme Kleidung und warmen Kaffee mit.</p>


  - title: (Schneeschuh-)Wandern
    id: two
    description: >
      <p class="text--lg">Eine Reise nach Lappland ist die wahre Art, die majestätische Natur Finnlands im Herbst und Winter kennenzulernen, zum Beispiel im Urho-Kekkonen-Nationalpark. Eine Vielfalt an Landschaftsformen, von Sümpfen zu Wäldern wartet auf den Wanderer; die markierten Pfade machen eine Erkundung leicht. Im Winter schnallen Sie sich Schneeschuhe an die Füße und nutzen bei tiefem Schnee einfach Schneestöcke, um nicht zu versinken. Und auf in die Wildnis, zu Fjells und vorbei an gefrorenen Wasserfällen!</p>


  - title: Raus aufs Land
    id: three
    description: >
      <p class="text--lg">Der finnische Ökotourismus boomt, was auch an der großen Anzahl an Bio-Bauernhöfen liegt, die Landidylle und Bio-Lebensmittel perfektioniert haben. Ein perfekter Urlaub, wenn Sie es einfach und naturnah lieben. Vielerorts - wie in Puukarin Pysäkki in Karelien - können Sie übernachten und werden mit Bio-Gemüse und selbstgebackenem Brot verwöhnt. Vor allem in der kühleren Jahreszeit darf etwas Wellness nicht fehlen - so wie am Leipyöli-Hof am Kiskonjoki-Fluss, wo Sie sich auf eine Rauchsauna freuen können.</p>


  - title: Husky-Schlittenfahrt
    id: four
    description: >
      <p class="text--lg">Eisblaue Augen, weiches Winterfell: Eine Fahrt mit dem Hundeschlitten ist für Reisende ein Erlebnis, aber für Arktisbewohner oft die einzige Möglichkeit zur Fortbewegung. Eine Huskyfarm besteht dabei aus einigen Dutzend bis zu Tausenden Hunden, auf Safaris kommen meistens Siberian oder Alaskan Huskys vor den Schlitten. Die arktische Wildnis so zu durchqueren ist nicht nur urzeitlich - es ist auch umweltfreundlich. Krönen Sie Ihre Lappland-Reise mit einer Fahrt in frischer, knackiger Kälte und erleben Sie die Natur noch unmittelbarer!</p>


  - title: Eisklettern in Finnland
    id: five
    description: >
      <p class="text--lg">Sie können das Korouma-Naturreservat natürlich auch beim Wandern und Schneeschuhlaufen erkunden. Doch die Gegend in Posio ist vor allem für eins renommiert: Eisklettern! Mehrere Wasserfälle vereisen und bilden im Winter eine magisch anziehende Kletterlandschaft mit Routen bis zu 50 oder 60 Metern in die Höhe. Bitte erkunden Sie sich nach Kursen für Einsteiger, um das Eisklettern im sicheren Rahmen zu praktizieren. </p>


  - title: Naturnah übernachten
    id: six
    description: >
      <p class="text--lg">Warum im Hotel einchecken, wenn es Glasiglus unter freiem Himmel gibt? Aufwachen mit der Mitternachtssonne oder aus dem warmen Bett Nordlichter bewundern - die berühmten Glasunterkünfte sind im ganzen Land verstreut. Abgelegen nächtigen Sie auch in umgebauten Leuchtturminseln, wie dem Arctic Lighthouse Hotel oder den Fischerhütten auf der Insel Klobben. Wenn es Sie nach Digital Detox und Wildnis verlangt, könnten Villen oder klassische Ferienhäuser wie Hawkhill ansprechend sein. Gigantisch sind schließlich die Eindrücke am Arctic Giant Birdhouse Hotel, hoch am Fjell, vor allem in der kälteren Jahreszeit erhaben wie nichts anderes.</p>

---



{% include page/intro.html %}


<div class="row row--xxl-6-6 row--no-gutters ">

  <div class="col col--xxl-6 ">
       <div class="bv-highlights-section-">

          <div class="map" id="map">  </div>
      </div>
  </div>
    <div class="col col--xxl-6" >

      <div class="tabbed">
       <input checked="checked" id="tab1" type="radio" name="tabs" />
       <input id="tab2" type="radio" name="tabs" />
       <input id="tab3" type="radio" name="tabs" />

       <nav class="bg--grey-lightest">
          <a class="" id="bv-pin1-"><label for="tab1" class="bv-map-one p text--upper text--bold p--xs">Nationalparks</label></a>
          <a class="" id="bv-pin2-"><label for="tab2" class="bv-map-two p text--upper text--bold p--xs">Skigebiete</label></a>
          <a class="" id="bv-pin3-"><label for="tab3" class="bv-map-four p text--upper text--bold p--xs">Wildtiere</label></a>
       </nav>
       <figure>
         {% for map in page.map %}
          <div class="tab{{forloop.index}}">
            <div class="hpad--xxl vpad--xl text--white">
              <h1 class="h h--md bv-divider text--pink">{{map.title}}</h1>
              <div class="space--sm"></div>
              <h2 class="text text--lg text--normal ">{{map.description}}</h2>
            </div>
          </div>
         {% endfor %}


       </figure>
       <div class="space--md"></div>
     </div>
    </div>
</div>

{% include page/harvey.html %}

{% include page/map/map.html %}
{% include page/finland.html %}
